{% extends 'base.html' %}

{% block title %}Edit My Profile{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<!-- primera columna -->
		<div class="col-md-2">
		</div>
		<!-- segunda columna -->
		<div class="col-md-7">
			<h2>Editing My Profile Information</h2>
			<p>Pagina para editar el perfil</p>			
		</div>
		<!-- tercera columna -->
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}