{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img data-src="holder.js/200x200" class="img-rounded" alt="200x200" 
			src="{{ data.picture }}" style="width: 200px; height: 200px;">
		</div>
		<div class="col-md-7">
			<h3>My Information</h3>
			<table class="table table-hover table-striped">
				<tr>
					<th>Given Name</th>
					<td>{{ user.name.givenName }}</td>
				</tr>
				<tr>
					<th>Family Name</th>
					<td>{{ user.name.familyName }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ data.email }}</td>
				</tr>
				<tr>
					<th>Domain</th>
					<td>{{ data.hd }}</td>
				</tr>
				<tr>
					<th>Locale</th>
					<td>{{ data.locale }}</td>
				</tr>
				<tr>
					<th>Gender</th>
					<td>{{ user.gender }}</td>
				</tr>
				<tr>
					<th>Occupation</th>
					<td>{{ user.occupation }}</td>
				</tr>
				{% for organization in user.organizations %}
				<tr>
					<th>Organization</th>
					<td>{{ organization.name }}</td>
				</tr>
				<tr>
					<th>Org. Type</th>
					<td>{{ organization.type }}</td>
				</tr>
				{% endfor %}

				{% for places in user.placesLived %}
				<tr>
					<th>Address</th>
					<td>{{ places.value }}</td>
				</tr>
				{% endfor %}

				{% if data.hd %}
					{% for contact in me_hd.feed.entry %}
						{% for phone in contact['gd$phoneNumber'] %}
						<tr>
							<th>Phone</th>
							<td>{{ phone['$t'] }}</td>
						</tr>					
						{% endfor %}
					{% endfor %}
				{% endif %}
			</table>
		</div>
	</div>	
</div>
{% endblock %}