<div><img src="https://www.google.com/a/cpanel/azurian.com/images/logo.gif?service=google_default" alt="" width="143" height="59" /></div>
<div style="text-align: justify;"><span style="color: #003366;"><strong>{firstName} {lastName}</strong></span></div>
<div style="text-align: justify;"><span style="color: #0000ff;">{primaryEmail}</span></div>
<div style="text-align: justify;"><span style="color: #0000ff;">{department}</span></div>
<div style="text-align: justify;"><span style="color: #0000ff;">{company}</span></div>
<div style="text-align: justify;"><span style="color: #0000ff;">{workAddress}</span></div>
<div style="text-align: justify;"><span style="color: #0000ff;">{workPhone}{mobilePhone}</span></div>
<div style="text-align: justify;"><strong><a href="http://www.azurian.com/">www.azurian.com</a>&nbsp;</strong></div>