<img alt="" height="60" src="http://pattern.flashpanel.com/assets/img/placeholder_square.png" style="padding:3px 0 0 10px; float:left; margin-right:10px; " width="60" />
<div style="float:left; padding: 1px 10px 0 0; ">
	<div style="font: 11px/14px Arial, Helvetica, sans-serif; color:#999; margin: 0; ">
		<span style="font-weight:bold; color: #b8276a; ">{firstName} {lastName}</span> <span style="color: #b8276a; font-weight: bold;"> | </span> <span>{title}</span> <span style="color: #b8276a; font-weight: bold;"> | </span> <span>{company}</span></div>
	<div style="font:11px/14px Arial, Helvetica, sans-serif; color:#999; margin: 0; ">
		<span style="color: #b8276a; font-weight: bold;">| </span> <span>Lorem ipsum dolor sit amet, consectetur.</span> <span style="color: #b8276a; font-weight: bold;"> | </span> <span style="font-weight:bold; color: #b8276a; ">p.</span> <span>{workPhone}</span></div>
	<div style="font:11px/14px Arial, Helvetica, sans-serif; color:#999; margin: 0; ">
		<span style="color: #b8276a; font-weight: bold;">| </span> <span style="font-weight:bold; color: #b8276a; ">e.</span> <span style="font-weight:normal;"><a href="mailto:{mainEmail}" style="text-decoration: none; color:#999;">{mainEmail}</a></span> <span style="color: #b8276a; font-weight: bold;"> | </span> <span style="font-weight:bold; color: #b8276a; ">w.</span> <span style="font-weight:normal;"><a href="mailto:{workWebSite}" style="text-decoration: none; color:#999;">{workWebsite}</a></span></div>
	<div style="padding-top:2px">
		<a href="#"><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/google_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/youtube_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/skype_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/rss_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/vimeo_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/wordpress_square_gray-24.png" style="border:none;" /></a> <a href=""><img alt="" src="http://cdn3.iconfinder.com/data/icons/free-social-icons/67/dribbble_square_gray-24.png" style="border:none;" /></a></div>
	<div style="font:normal 10px/14px Arial, Helvetica, sans-serif; color:#999; width: 320px; clear:both; ">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, consectetur ipsa id pariatur suscipit quis iure molestias obcaecati amet dolores cupiditate dolor sunt! Nisi odit laborum nobis expedita vero aperiam?</div>
</div>
