{% extends 'base.html' %}

{% block title %}Signature Success!{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Congratulations!</h1>
		<p><strong>Signature</strong> has been set successfully for all users</p>
		<a class="btn btn-default" href="/">Go home</a>
		<a class="btn btn-success" href="/emailtools/signature">Back to Set Signature</a>
	</div>
</div>
{% endblock %}