{% extends 'base.html' %}

{% block title %}Signature Setup{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
    <div class="col-md-2">
    <br>
        <div class="list-group" style="font-size:12px;">
            <a class="list-group-item list-group-item-success"><strong>Add Fields Signature</strong></a>
            <a class="list-group-item " href="#" name="firstName" id="firstName"><span class="glyphicon glyphicon-plus-sign"></span> First Name</a>
            <a class="list-group-item" href="#" name="lastName" id="lastName"><span class="glyphicon glyphicon-plus-sign"></span> Last Name</a>
            <a class="list-group-item" href="#" name="email" id="email"><span class="glyphicon glyphicon-plus-sign"></span> Email</a>
            <a class="list-group-item" href="#" name="company" id="company"><span class="glyphicon glyphicon-plus-sign"></span> Company</a>
            <a class="list-group-item" href="#" name="department" id="department"><span class="glyphicon glyphicon-plus-sign"></span> Department</a>
            <a class="list-group-item" href="#" name="occupation" id="occupation"><span class="glyphicon glyphicon-plus-sign"></span> Occupation</a>
            <a class="list-group-item" href="#" name="workAddress" id="workAddress"><span class="glyphicon glyphicon-plus-sign"></span> Work Address</a>
            <a class="list-group-item" href="#" name="homeAddress" id="homeAddress"><span class="glyphicon glyphicon-plus-sign"></span> Home Address</a>
            <a class="list-group-item" href="#" name="workPhone" id="workPhone"><span class="glyphicon glyphicon-plus-sign"></span> Work Phone</a>
            <a class="list-group-item" href="#" name="homePhone" id="homePhone"><span class="glyphicon glyphicon-plus-sign"></span> Home Phone</a>
            <a class="list-group-item " href="#" name="mobile" id="mobilePhone"><span class="glyphicon glyphicon-plus-sign"></span> Mobile Phone</a>
        </div>
    </div>
		<div class="col-md-7">
			<h1>Setting Signatures Schema</h1>
            <p>Setup signature for all users from your domain.</p>
			<form method="post">
			    <textarea rows="11" name="signature" id="signature"></textarea>
			    <br>
			    <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-home"></span> Go Home</a>
			    <button class="btn btn-default" type="reset"><span class="glyphicon glyphicon-refresh"></span> Clean</button>
                <button class="btn btn-danger" type="button" disabled="true" name="deleteSignature" id="deleteSignature"><span class="glyphicon glyphicon-trash"></span> Delete current model</button>
			    <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Update All Signatures</button>
                <div class="checkbox">
                    <label>
                        <input name="ifDaily" type="checkbox">Do you want to run the signature daily?
                    </label>
                </div>
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> You can only have one Cron Signature
                </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/static/js/signature.js"></script>
{% endblock %}