<div ng-controller="FormOrgUnitController">
	<h2>Creating a New OrgUnit</h2>
	<form ng-submit="addOrgUnit()" name="neworgForm">
		<div class="form-group" ng-class="{'has-error': neworgForm.name.$invalid, 'has-success': neworgForm.name.$valid}">
		    <label>Name</label>
		    <input type="text" name='name' class="form-control" placeholder="OrgUnit Name" ng-model="org.name" required>
	  	</div>
		<div class="form-group">
		    <label>Description</label>
		    <textarea class="form-control" name="description" ng-model="org.description"
		    	placeholder="Description (optional)"rows="4"></textarea>
	  	</div>
	  	<div class="form-group">
		    <label>Parent Organization Path</label>
		    <select class="form-control" ng-model="org.parentOrgUnitPath" name="orgUnitPath" required>
		    	<option value="/">Root</option>
		    	{% if orgunits.organizationUnits %}
			    	{% for unit in orgunits.organizationUnits %}
			    		<option value="{{ unit.orgUnitPath }}">{{ unit.name | capitalize }}</option>
			    	{% endfor %}
		    	{% endif %}
		    </select>
	  	</div>
	  	<a class="btn btn-default" href="#/index">Go back to Menu</a>
	  	<input class="btn btn-success" ng-disabled="neworgForm.$invalid" type="submit" value="Create OrgUnit">
	</form>
</div>