{% extends 'base.html' %}

{% block title %}OrgUnits & Groups{% endblock %}

{% block content %}
<div class="container" ng-app="orgUnits">
	<div class="row" ng-controller="MenuController as menu">
		<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li ng-class="{ active:menu.isSet(0) }">
				<a href="#/index" ng-click="menu.setTab(0)">My OrgUnits Tools</a>
			</li>
			<li ng-class="{ active:menu.isSet(1) }">
				<a href="#/orgunitslist" ng-click="menu.setTab(1)">List My OrgUnits</a>
			</li>
			<li ng-class="{ active:menu.isSet(2) }">
				<a href="#/neworgunit" ng-click="menu.setTab(2)">Create New OrgUnit</a>
			</li>
			<li ng-class="{ active:menu.isSet(3) }">
				<a href="#/delorgunit" ng-click="menu.setTab(3)">Delete OrgUnit</a>
			</li>
			<br>
			<li><a href="">List My Groups</a></li>
			<li><a href="">Create New Group</a></li>
		</ul>
		</div>
		<div class="col-md-6" ng-view></div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/ng/apporgunit.js"></script>
{% endblock %}