<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title" align="center">ATENTION!</h4>
    </div>
    <div class="modal-body">
    	<p align="center">Are you sure you want to remove : {{items}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
      <button type="button" class="btn btn-danger" ng-click="">Yes</button>
    </div>
  </div>
</div>