<h2>My OrgUnits List</h2>
{% if orgunits.organizationUnits %}
	{% for unit in orgunits.organizationUnits %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<!--<button title="delete" class="close" ng-click="open(unit.name)">&times;</button>-->
			<h3 align="left" class="panel-title"><strong>{{ unit.name }}</strong></h3>
		</div>
		<div class="panel-body">
			<p><strong>Description:</strong> {{ unit.description }}</p>
			<p><strong>Kind:</strong> {{ unit.kind }}</p>
			<p><strong>Parent OrgUnit Path:</strong> {{ unit.parentOrgUnitPath }}</p>
			<p><strong>OrgUnit Path:</strong> {{ unit.orgUnitPath }}</p>
		</div>
	</div>
	{% endfor %}
{% else %}
<div class="alert alert-warning">
	<strong>Sorry!</strong> No OrgUnits found.
</div>
{% endif %}