<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://www.azurian.com/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta name="description" content="My Cloud panel is a web application for Google Apps admins, manage shared, users, contacts, corporate signature policy" />
  <meta name="abstract" content="" />
  <meta name="keywords" content="Google Apps for Business, Google Apps for Work, Google Apps for Education, Signature for Google Apps, Signature" />
  <meta name="robots" content="follow, index" />
  <meta name="news_keywords" content="Google Apps, Shared Contact Manager, Signature for Google Apps, Signature" />
  <meta name="standout" content="http://azurianblog.blogspot.com/" />
  <meta name="rights" content="Azurian" />
	<title>Console I/O &middot; {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <!-- Static navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Console I/O</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/profile">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shared Contacts Tools<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Shared Contacts</li>
              <li><a href="/contacttools/mycontacts">My Shared Contact List</a></li>
              <li><a href="/contacttools/newcontact">Create Shared Contact</a></li>
            </ul>
          </li>
          <li><a href="/orgunits">Organization Tools</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users Tools<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Users</li>
              <li><a href="/usertools/users">My Users Directory</a></li>
              <li><a href="/usertools/newuser">Create User</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Email Tools<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Signature</li>
              <li><a href="/emailtools/signature">Set Signature for all Users</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ data.email }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
              <li><a href="/revoke"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="page-header">
      <h3></h3>
  </div>
  {% block content %}{% endblock %}
  
  <hr class="featurette-divider">

  <div class="footer">
  	<footer>
  		<p align="center"><span class="glyphicon glyphicon-copyright-mark" style="color:#337ab7;"></span><a href="http://www.azurian.com" target="_blank"> Azurian Tecnología Ltda 2015</a></p>
  	</footer>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
  <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular-route.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular-resource.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59817917-1', 'auto');
    ga('send', 'pageview');
  </script>
  {% block javascript %}{% endblock %}
</body>
</html>