
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
  	<link type="text/css" rel="stylesheet" href="/static/css/cover.css" />

    <title>Console I/O</title>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Console I/O</h1>
            <p class="lead">for Google Apps Admins.</p>
            <p class="lead">
              <a class="btn btn-lg btn-default" href="{{ url }}">Authorize & Enter</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Azurian Tecnología Ltda 2015</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
  </body>
</html>
