{% extends 'base.html' %}

{% block title %}About Console I/O{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="jumbotron">
				<h1><strong>About</strong></h1>
				<p class="">Console I/O for Google Apps Admins</p>
				<p><a class="btn btn-success" role="button" href="/">Go Home</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}