<h2>Delete a OrgUnit</h2>
<br>
<form method="post" name="deleteForm">
	<div class="form-group">
		<label>Choose a OrgUnit</label>
		<select class="form-control" name="orgUnitPath" required>
			<option>--</option>
	    	{% if orgunits.organizationUnits %}
		    	{% for unit in orgunits.organizationUnits %}
		    		<option value="{{ unit.orgUnitPath }}">{{ unit.name | capitalize }}</option>
		    	{% endfor %}
	    	{% endif %}
		</select>
	</div>
	<a class="btn btn-default" href="#/index">Go back to Menu</a>
		<input class="btn btn-danger" type="submit" value="Delete OrgUnit">
</form>