{% extends 'base.html' %}

{% block title %}My Directory{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h1>My Users List</h1>

			{% for users in my_directory.users %}
			<div class="list-group">
			<a href="/usertools/user/{{ users.primaryEmail }}" class="list-group-item">
				<h4 class="list-group-item-heading">
					<img class="img-thumbnail" src="{{ users.thumbnailPhotoUrl }}" 
					data-src="holder.js/50x50" style="width: 50px; height: 50px;">
					{{ users.name.fullName }}
				</h4>
				<p class="list-group-item-text">
					<p><strong>Email</strong> {{ users.primaryEmail }}</p>

					{% for org in users.organizations %}
					<p><strong>Organization</strong> {{ org.name }}</p>
					<p><strong>Department</strong> {{ org.department }} </p>
					{% endfor %}

					<p><strong>User Type</strong> 
						{% if users.isAdmin %}
							Administrator
						{% else %}
							End User
						{% endif %}
					</p>

					<p>
						{% for phon in users.phones %}
							<strong>{{ phon.type }} Phone</strong>
							{{ phon.value }}
						{% endfor %}						
					</p>

					<p>
						{% for add in users.addresses %}
							<strong> {{add.type}} Address</strong>
							{{ add.formatted }}
						{% endfor %}
					</p>
				</p>
			</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}