{% extends 'base.html' %}

{% block title %}Success!{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Congratulations!</h1>
		<p>The <strong>{{ new_user.name.fullName }}</strong> user, whose mail is <strong>{{ new_user.primaryEmail }}</strong> has been created successfully.</p>
		<a class="btn btn-default" href="/">Go home</a>
		<a class="btn btn-success" href="/usertools/newuser">Create a new user</a>
	</div>
</div>
{% endblock %}