{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h2>Creating a New User</h2>
			<form role="form" method="post" name="userForm">
				<div class="form-group">
				    <label>First Name</label>
				    <input type="text" name='givenName' class="form-control" placeholder="First Name" required>
			  	</div>
				<div class="form-group">
				    <label>Last Name</label>
				    <input type="text" name="familyName" class="form-control" placeholder="Last Name" required>
			  	</div>
			  	<div class="form-group">
				    <label>User Name</label>
				    <div class="input-group">
				    	<input type="text" name="userName" class="form-control" placeholder="UserName" required>
				    	<span class="input-group-addon">@</span>
				    	<select name="domain" class='form-control'>
				    		<option value="{{ data.hd }}">{{ data.hd }}</option>
				    	</select>
				    </div>
			  	</div>
			  	<div class="form-group">
				    <label>Password</label>
				    <input name="password1" type="password" class="form-control" placeholder="Password" required>
			  	</div>
			  	<div class="form-group">
				    <label>Password</label>
				    <input name="password2" type="password" class="form-control" placeholder="Password" required>
			  	</div>
			  	<div class="checkbox">
			  		<label>
			  			<input name="changePass" type="checkbox">Require password change on next sign in
			  		</label>			  		
			  	</div>
			  	<a class="btn btn-default" href="/profile">Go back</a>
			  	<input class="btn btn-success" type="submit" value="Create">
			</form>
		</div>
	</div>
</div>
{% endblock %}