{% extends 'base.html' %}

{% block title %}Update Success!{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Congratulations!</h1>
		<p><strong></strong> has been updated successfully</p>
		<a class="btn btn-default" href="/">Go home</a>
		<a class="btn btn-success" href="/usertools/users">Go to My Users List</a>
	</div>
</div>
{% endblock %}