{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h2>Update User</h2>
			<form id="updateForm" method="post">
				<div class="form-group">
					<input type="hidden" name="primaryEmail" id="primaryEmail" class="form-control" 
						value="{{ user_data.primaryEmail }}">
				</div>
				<div class="form-group">
					<label for="">First Name</label>
					<input type="text" name="givenName" class="form-control" placeholder="First Name" 
						value="{{ user_data.name.givenName }}" required>
				</div>
				<div class="form-group">
					<label for="">Last Name</label>
					<input type="text" name="familyName" class="form-control" placeholder="Last Name" 
						value="{{ user_data.name.familyName }}" required>
				</div>

				{% if user_data.organizations %}
				{% for org in user_data.organizations %}
					<div class="form-group">
						<label>Organization</label>
						<div class="input-group">
							<label class="input-group-addon" for="orgName">Name</label>
							<input type="text" id="" name="orgName" class="form-control" placeholder="Company" 
								value="{{ org.name }}">
							<label class="input-group-addon" for="orgDepartment">Department</label>
							<input type="text" id="" name="orgDepartment" class="form-control" placeholder="Department" 
									value="{{ org.department }}">
						</div>
					</div>
				{% endfor %}
				{% endif %}
					<!-- <a class="btn btn-xs btn-info">Add New Organization</a> -->
					<div class="form-group">
						<label>+ Organization</label>
						<div class="input-group">
							<label class="input-group-addon" for="orgName">Name</label>
							<input type="text" id="" name="orgName" class="form-control" placeholder="Company" 
								value="">
							<label class="input-group-addon" for="orgDepartment">Department</label>
							<input type="text" id="" name="orgDepartment" class="form-control" placeholder="Department" 
									value="">
						</div>
					</div>

				<br>

				{% if user_data.phones %}
				{% for phon in user_data.phones %}
					<div class="form-group">
						<label for="phonesValue">Phones</label>
						<div class="input-group">
							<input type="text" name="phonesValue" class="form-control" placeholder="Phone Number" 
								value="{{ phon.value }}">
							<label class="input-group-addon" for="phonesType">Type</label>
							<select class="form-control" name="phonesType" id="phonesType">
								{% if phon.type %}
								<option value="{{ phon.type }}">{{ phon.type | capitalize }}</option>
								{% endif %}
								<option value="work">Work</option>
								<option value="work_fax">Work Fax</option>
								<option value="work_mobile">Work Mobile</option>
								<option value="mobile">Mobile</option>
								<option value="home_fax">Home Fax</option>
								<option value="other">Other</option>
							</select>
						</div>
					</div>
				{% endfor %}
				{% endif %}
					<div class="form-group">
						<label for="phonesValue">+ Phones</label>
						<div class="input-group">
							<input type="text" name="phonesValue" class="form-control" placeholder="Phone Number" 
								value="">
							<label class="input-group-addon" for="phonesType">Type</label>
							<select class="form-control" name="phonesType" id="phonesType">
								<option value="work">Work</option>
								<option value="work_fax">Work Fax</option>
								<option value="work_mobile">Work Mobile</option>
								<option value="mobile">Mobile</option>
								<option value="home_fax">Home Fax</option>
								<option value="other">Other</option>
							</select>
						</div>
					</div>

				<br>

				{% if user_data.addresses %}
				{% for add in user_data.addresses %}
					<div class="form-group">
						<label for="addressName">Addresses</label>
						<div class="input-group">
							<input type="text" class="form-control" id="addressName" name="addressName"
								placeholder="Address" value="{{ add.formatted }}">
							<label class="input-group-addon" for="addressType">Type</label>
							<select class="form-control" name="addressType" id="addressType">
								{% if add.type %}
								<option value="{{ add.type }}">{{ add.type | capitalize }}</option>
								{% endif %}
								<option value="work">Work</option>
								<option value="other">Other</option>
								<option value="home">Home</option>
							</select>
						</div>
					</div>
				{% endfor %}
				{% endif %}
					<div class="form-group">
						<label for="addressName">+ Addresses</label>
						<div class="input-group">
							<input type="text" class="form-control" id="addressName" name="addressName"
								placeholder="Address" value="">
							<label class="input-group-addon" for="addressType">Type</label>
							<select class="form-control" name="addressType" id="addressType">
								<option value="work">Work</option>
								<option value="other">Other</option>
								<option value="home">Home</option>
							</select>
						</div>
					</div>

				<br>
				<a class="btn btn-default" href="/profile">Go to Home</a>
				<a class="btn btn-default" href="/profile">Go to My Directory</a>
			  	<input class="btn btn-success" id="serializer" type="submit" value="Update User">
			</form>
		</div>
	</div>
</div>
{% endblock %}