{% extends 'base.html' %}

{% block title %}My Shared Contacts{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h1>My Shared Contacts</h1>
			{% for contact in feed.entry %}
			<div class="list-group">
			<a href="/contacttools/edit/{{ loop.index0 }}" class="list-group-item">
				<h4 class="list-group-item-heading">
					{{ contact.name.full_name.text }}
				</h4>
				<p class="list-group-item-text">
					<p><strong>Email</strong>
					{% if contact.email %}
						{% for email in contact.email %}
							{{ email.address }}
						{% endfor %}
					{% else %}
						No email set
					{% endif %}
					</p>
					<p><strong>Phone</strong>
					{% if contact.phone_number %}
						{% for phone in contact.phone_number %}
							{{ phone.text }}
						{% endfor %}
					{% else %}
						No phone set
					{% endif %}
					</p>
					<p><strong>Address</strong>
					{% if contact.postal_address %}
						{% for address in contact.postal_address %}
							{{ address.text }}
						{% endfor %}
					{% else %}
						No address set
					{% endif %}
					</p>
					<p><strong>Organization</strong>
					{% if contact.organization %}
						{{ contact.organization.text }}							
					{% else %}
						No organization set
					{% endif %}
					</p>
				</p>
			</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}