{% extends 'base.html' %}

{% block title %}New Contact{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="jumbotron">
				<h1>Congratulations!</h1>
				<p>Shared Contact has been created.</p>
				<a class="btn btn-default" href="/">Go home</a>
				<a class="btn btn-success" href="/contacttools/mycontacts">Go Shared Contacts</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}