{% extends 'base.html' %}

{% block title %}New Contact{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h1>Creating a New Contact</h1>
			<form role="form" enctype="multipart/form-data" method="post">
				<div class="form-group">
				    <label>First Name</label>
				    <input type="text" name='givenName' class="form-control" placeholder="First Name" required>
			  	</div>
				<div class="form-group">
				    <label>Last Name</label>
				    <input type="text" name="familyName" class="form-control" placeholder="Last Name" required>
			  	</div>
			  	<div class="form-group">
				    <label>Full Name</label>
				    <input type="text" name="fullName" class="form-control" placeholder="Full Name" required>
			  	</div>
			  	<div class="form-group">
				    <label>Email Contact</label>
			    	<input type="email" name="email" class="form-control" placeholder="email@contact.com">
			  	</div>
			  	<div class="form-group">
				    <label>Phone</label>
				    <input name="phone" type="text" class="form-control" placeholder="Contact Phone Number">
			  	</div>
			  	<a class="btn btn-default" href="/profile">Go back</a>
			  	<input class="btn btn-success" type="submit" value="Create Contact">
			</form>
		</div>
	</div>
</div>
{% endblock %}