{% extends 'base.html' %}

{% block title %}Update Shared Contact{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Update Shared Contact</h2>
			<form role="form" enctype="multipart/form-data" method="post">
				<div class="form-group">
				    <label>First Name</label>
				    <input type="text" name='givenName' class="form-control" placeholder="First Name"
				    	value="{{ contact.name.given_name.text }}" required>
			  	</div>
				<div class="form-group">
				    <label>Last Name</label>
				    <input type="text" name="familyName" class="form-control" placeholder="Last Name"
				    	value="{{ contact.name.family_name.text }}" required>
			  	</div>
			  	<div class="form-group">
				    <label>Full Name</label>
				    <input type="text" name="fullName" class="form-control" placeholder="Full Name"
				    	value="{{ contact.name.full_name.text }}" required>
			  	</div>
			  	{% if contact.email %}
			  	{% for email in contact.email %}
			  	<div class="form-group">
				    <label>Email Contact</label>
			    	<input type="email" name="email" class="form-control" placeholder="email@contact.com"
			    	 value="{{ email.address }}" required>
			  	</div>
			  	{% endfor %}
			  	{% else %}
			  	<div class="form-group">
				    <label>Email Contact</label>
			    	<input type="email" name="email" class="form-control" placeholder="email@contact.com"
			    	 value="{{ email.address }}" required>
			  	</div>
			  	{% endif %}
			  	
			  	{% if contact.phone_number %}
			  	{% for phone in contact.phone_number %}
			  	<div class="form-group">
				    <label>Phone</label>
				    <input name="phone" type="text" class="form-control" value="{{ phone.text }}" 
				    	placeholder="Contact Phone Number" required>
			  	</div>
			  	{% endfor %}
			  	{% else %}
			  	<div class="form-group">
				    <label>Phone</label>
				    <input name="phone" type="text" class="form-control" placeholder="Contact Phone Number" required>
			  	</div>
			  	{% endif %}

			  	<a class="btn btn-default" href="/profile">Go back</a>
			  	<input class="btn btn-success" type="submit" value="Update Contact">
			</form>
		</div>
	</div>
</div>
{% endblock %}